@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



*{
    margin:0; padding:0;
    box-sizing: border-box; border: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

header{
    font-family: "Nunito", sans-serif;
    height: 7rem;
    top:0;
    position: fixed;
    background: white;
    width: 100%;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .1);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    font-family: "Righteous", sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(27, 13, 218);
}


/* INICIO de diseño del carrito */
#icono-carro{
    font-size: 1.8rem;
    cursor: pointer;
}

.carro{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .1);
    transition: 0.3s;
}

.carro.activo{
    right: 0;
}

.carro-titulo{
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 2rem;
}

.carro-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.carro-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detalle-box{
    display: grid;
    row-gap: 0.5rem;
}

.carro-producto-titulo{
    font-size: 1.7rem;
}

.carro-precio{
    font-size: 1.5rem;
    font-weight: bold;
}

.carro-cantidad{
    border: 1px solid rgb(210, 210, 226);
    width: 2.4rem;
    font-size: 1.4rem;
}

.carro-eliminar{
    font-size: 24px;
    color: rgb(236, 125, 125);
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid rgb(194, 194, 194);
}

.total-titulo{
    font-size: 1.5rem;
    font-weight: 600;
}

.total-precio{
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.btn-wpp{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    background: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.btn-wpp:hover{
    background: green;
}

#cerrar-carro{
    position: absolute;
    top: 1.4rem;
    font-size: 1.8rem;
    cursor: pointer;
}
/*FINAL de diseño del carrito*/

body{
    font-family: "Nunito", sans-serif;
    padding-top: 7rem;
    background: #f0eee9;
}

.conten{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.conten .titulo{
    font-size: 3.5rem;
    color: #444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.conten .conten-productos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    width: 100%;
}

.conten .conten-productos .productos{
    text-align: center;
    border-radius: 15px;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    /*cursor: pointer;*/
}

.conten .conten-productos .productos:hover{
    outline: .1rem solid #222;
    outline-offset: 0;
    background: #fafffe;
}

.conten .conten-productos .productos img{
    height: 15rem;
}

.conten .conten-productos .productos:hover img{
    transform: scale(1.2);
}

.conten .conten-productos .productos h3{
    padding: 2rem 0;
    font-size: 2rem;
    color:rgb(9, 59, 82);
}

.conten .conten-productos .productos:hover h3{
    color: rgb(17, 175, 25);
}

.conten .conten-productos .productos .precio{
    margin-top: .9rem;
    font-size: 2.3rem;
    color:rgb(9, 59, 82);
}

.conten .conten-productos .productos .boton-item{
    display: block;
    margin: 10px auto;
    width: 10rem; height: 3rem;
    border: none;
    background: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.conten .conten-productos .productos .boton-item:hover{
    transform: scale(1.1);
    font-weight: bold;
}